.grid {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}
button {
    font-size: 2rem;
    padding-left: 10px;
    padding-right: 10px;
}
.box {
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
.winner {
    box-sizing: border-box;
    font-size: 2rem;
}
.red {
    color: red;
}
.blue {
    color: blue;
}
.flex {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}